*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nb-map{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.contacts-form{
    border: solid blue;
}
.g-touch{
    margin-top: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
}
.gtouch-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 20px;


}