@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fce2c7;
   
}
p{
  line-height: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.Hero-section {
  background-image: url("../../assets/wildlife.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}
h2{
    color: black;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color:#b7c064;
  width: 100%;
}
.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 60vh;
}
.abt-maintitle{
  color: black;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}
.about-content img {
  width: 30%;
  border-radius: 15px;
  display: block;
  object-fit: cover;
}
.about-content img:hover{
    transform: scale(95%);
  transition: 0.5s ease;
}
/* .hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
} */
/* 
.video-background {
width: 100%;
height: auto;
} */
.dest-container{
  background-color: #75A47F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:20rem;
  border-radius: 20px;
  box-shadow: 3px 8px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 8px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 8px 5px 0px rgba(0, 0, 0, 0.75);
}
.dest-container:hover{
    background-color: #90D26D;
    transform: scale(95%);
    color:black;
}
.dest-container img {
  width: 100%;

  height: 100%;
  border-radius: 10px;
  display: block;
  object-fit: cover;
}
.fd-maintitle{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
}
button{
    padding: 10px;
    background-color: #F2C18D;
    border-radius: 10px;
    margin-bottom: 2rem;
    border: none;
}
button:hover{
    background-color: white;
    transform: scale(95%);
    color: rgb(0, 0, 0);
}
.main-container{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    gap: 2rem;
}
.testimonials-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border:solid #75A47F;
    width: 20rem;

    background-color: #50727B;
    border-radius: 10px;

}
.test-maintitle{
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
}
.test-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.testimonials-container:hover{
    background-color:#75A47F ;
    transform: scale(95%);
    color:black; 
}
.test-text{
    color: white;
    font-size: 20px;
  
}
.testimonials-container img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    display: block;
    object-fit: cover;
    transform: translateY(50%);
}
.quotes{
    color: aquamarine;
    font-size: 80px;
}
.test-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    size: 80%;
}
.rating{
    color: aliceblue;
    size: 80%;
}
.news-container{
  display: flex;
  margin-top: 100px;
  margin-left: 10px;
  gap: 4rem;
  background-color: #85a773;

}
.news-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:50px ;
  
}
.news-container img{
  width: 40rem;
}
.input1{
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 100%;
}
label{
  margin-left: 10px;
  font-size: 30px;
}
input{
  margin-right: 10px;
}
.news-btn{
  display: grid;
  place-content: center;
  padding: 10px;
  width: 100%;
  margin-top: 50px;
}
.subtitle{
  font-size: 30px;

}
